<!-- called inheriatance {% extends 'main.html' %} {% block content %} -->
<!-- <style>
  /* .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  } */
</style> -->
<!-- <div class="room-container"> -->
<!-- <div>
    <h1>{{rooms.name}}</h1>
    <p>{{rooms.description}}</p> -->

<!-- output as actual conversion -->
<!-- <div class="comment-wrapper"> -->
<!-- <h3>Conversation</h3> -->
<!-- <hr /> -->

<!-- debugging it... -->
<!-- {% if room_messages %} {% for message in room_messages %} -->
<!-- <div>
        {% if request.user == message.user %}
        <a href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}
        <small>@{{message.user}} {{ message.created|timesince }} ago.</small>
        <hr />
        <p>{{message.body}}</p>
        <hr />
      </div>
      {% endfor %} {% else %}
      <p>Not messages yet.</p>
      {% endif %}
    </div> -->

<!-- authentication purpse below single line -->
<!-- {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="body"
          placeholder="Write your message here..."
        />
      </form> -->
<!-- </div> -->
<!-- {% endif %}
  </div>
  <div>
    <h3>Participants</h3>
    <hr />
    {% for p in participants %}
    <div>
      <p>@{{p.username}}</p>
    </div>
    {% endfor %}
  </div>
</div> -->
<!-- {% endblock %} -->
